<form
  class="form-horizontal"
  autocomplete="off"
  #formModal="ngForm"
  (ngSubmit)="save()"
>
  <abp-modal-header
    [title]="'Daire Düzenle' | localize"
    (onCloseClick)="bsModalRef.hide()"
  ></abp-modal-header>

  <div class="modal-body">
    <div class="field grid">
      <label
        for="name"
        class="col-4 mb-4 md:col-4 md:mb-0"
        >{{ "Name" | localize }}</label
      >
      <div class="col-8 md:col-8">
        <input
          type="text"
          id="name"
          name="name"
          minlength="1"
          maxlength="100"
          required
          [placeholder]="'Name' | localize"
          [(ngModel)]="updateInput.name"
          class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
          #factoryNameModel="ngModel"
          #factoryNameError
        />
        <abp-validation-summary
        [control]="factoryNameModel"
        [controlEl]="factoryNameError"
      ></abp-validation-summary>
      </div>
    </div>

    <div class="field grid">
        <label
        for="blokNo"
        class="col-4 mb-4 md:col-4 md:mb-0"
        >{{ "Blok Numarası" | localize }}</label
      >
    <div class="col-8 md:col-8">
        <input
          type="text"
          id="blokNo"
          name="blokNo"
          maxlength="20"
          [placeholder]="'Blok Numarası' | localize"
          [(ngModel)]="updateInput.blokNo"
          class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
          #factoryBlockNoModel="ngModel"
          #factoryBlockNoError
        />
        <abp-validation-summary
        [control]="factoryBlockNoModel"
        [controlEl]="factoryBlockNoError"
      ></abp-validation-summary>
      </div>
    </div>

    <div class="field grid">
      <label for="building" class="col-4 mb-4 md:col-4 md:mb-0">{{
        "Apartman" | localize
      }}</label>
      <div class="col-8 md:col-8">
        <p-dropdown
          [options]="buildings"
          required
          optionLabel="name"
          optionValue="id"
          [filter]="true"
          filterBy="name"
          [(ngModel)]="updateInput.buildingId"
          [ngModelOptions]="{ standalone: true }"
          [style]="{ width: '100%' }"
          [placeholder]="'Apartman Seçiniz' | localize"
          #factoryBuildingModel="ngModel"
          #factoryBuildingError
        >
        </p-dropdown>
        <abp-validation-summary
        [control]="factoryBuildingModel"
        [controlEl]="factoryBuildingError"
      ></abp-validation-summary>
      </div>
    </div>

    <div class="field grid">
      <label
      for="address"
      class="col-4 mb-4 md:col-4 md:mb-0"
      >{{ "Açıklama" | localize }}</label
    >
    <div class="col-8 md:col-8">
      <textarea [(ngModel)]="updateInput.description" [placeholder]="'Açıklama' | localize" [ngModelOptions]="{ standalone: true }" id="description" rows="4" cols="52" pInputTextarea
       ></textarea>
    </div>
    </div>

  </div>
  <abp-modal-footer
    [cancelDisabled]="saving"
    [saveLoading]="saving"
    [saveDisabled]="!formModal.form.valid || saving"
    (onCancelClick)="bsModalRef.hide()"
  ></abp-modal-footer>
</form>
