<form
  class="form-horizontal"
  autocomplete="off"
  #formModal="ngForm"
  (ngSubmit)="save()"
>
  <abp-modal-header
    [title]="'Yeni Apartman Ekle' | localize"
    (onCloseClick)="bsModalRef.hide()"
  ></abp-modal-header>

  <div class="modal-body">
    <div class="field grid">
      <label
        for="name"
        class="col-4 mb-4 md:col-4 md:mb-0"
        >{{ "Name" | localize }}</label
      >
      <div class="col-8 md:col-8">
        <input
          type="text"
          id="name"
          name="name"
          minlength="2"
          maxlength="100"
          required
          [placeholder]="'Name' | localize"
          [(ngModel)]="createInput.name"
          class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
          #factoryNameModel="ngModel"
          #factoryNameError
        />
        <abp-validation-summary
        [control]="factoryNameModel"
        [controlEl]="factoryNameError"
      ></abp-validation-summary>
      </div>
    </div>

    <div class="field grid">
      <label
      for="address"
      class="col-4 mb-4 md:col-4 md:mb-0"
      >{{ "Adres" | localize }}</label
    >
    <div class="col-8 md:col-8">
      <textarea [(ngModel)]="createInput.address" [placeholder]="'Adres' | localize" [ngModelOptions]="{ standalone: true }" id="address" rows="4" cols="52" pInputTextarea
       ></textarea>
    </div>
    </div>

    <div class="field grid">
        <label
        for="buildingNo"
        class="col-4 mb-4 md:col-4 md:mb-0"
        >{{ "Bina Numarası" | localize }}</label
      >
    <div class="col-8 md:col-8">
        <input
          type="text"
          id="buildingNo"
          name="buildingNo"
          maxlength="20"
          required
          [placeholder]="'Bina Numarası' | localize"
          [(ngModel)]="createInput.buildingNo"
          class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
          #factoryBuildingNoModel="ngModel"
          #factoryBuildingNoError
        />
        <abp-validation-summary
        [control]="factoryBuildingNoModel"
        [controlEl]="factoryBuildingNoError"
      ></abp-validation-summary>
      </div>
    </div>
  </div>
  <abp-modal-footer
    [cancelDisabled]="saving"
    [saveLoading]="saving"
    [saveDisabled]="!formModal.form.valid || saving"
    (onCancelClick)="bsModalRef.hide()"
  ></abp-modal-footer>
</form>
