:host ::ng-deep .p-datatable {
    background : unset;
    padding : unset;
    background-color: #ffffff;
    border-left: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;
    border-radius: 6px;
}

:host ::ng-deep .p-datatable .p-datatable-header {
    background : unset;
    border : unset;
    padding : unset;
}

:host ::ng-deep .p-toolbar {
    border-bottom: unset;
    border-bottom-left-radius: unset;
    border-bottom-right-radius: unset;
    border-left: unset;
    border-right: unset;
}

:host ::ng-deep .p-datatable-thead {
    border: 1px solid #dee2e6;
    border-top: unset;
    border-radius: 6px;
    border-left: unset;
    border-right: unset;
}

:host ::ng-deep .p-datatable-tbody {
    border: 1px solid #dee2e6;
    border-top: unset;
    border-radius: 6px;
    border-left: unset;
    border-right: unset;
}

:host ::ng-deep .p-datatable .p-paginator-bottom {
    color: #343a40;
    border: 1px solid #dee2e6;
    border-top: unset;
    border-radius: 6px;
    border-top-left-radius: unset;
    border-top-right-radius: unset;
    border-left: unset;
    border-right: unset;
}

/* .p-frozen-column {
    position: inherit !important;
    background: inherit
} */
