<div [@routerTransition]>
  <section class="content-header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <h1>{{ "HomePage" | localize }}</h1>
        </div>
      </div>
    </div>
  </section>
  <section class="content px-2">
    <div class="container-fluid">

      <div class="row">
        <!-- Binalar -->
        <div class="col-lg-3 col-6">
          <div class="small-box bg-success">
            <div class="inner">
              <h3>Binalar</h3>
            </div>
            <div class="icon">
              <i class="fas fa-building"></i>
            </div>
            <a href="/app/building"
              class="small-box-footer"
              >
              Sayfaya Git
              <i class="fas fa-arrow-circle-right"></i>
            </a>
          </div>
        </div>
        <!-- Daireler -->
        <div class="col-lg-3 col-6">
          <div class="small-box bg-info">
            <div class="inner">
              <h3>Daireler</h3>
            </div>
            <div class="icon">
              <i class="fas fa-home"></i>
            </div>
            <a href="/app/apartment"
              class="small-box-footer"
              >
              Sayfaya Git
              <i class="fas fa-arrow-circle-right"></i>
            </a>
          </div>
        </div>
        <!-- Kiracılar -->
        <div class="col-lg-3 col-6">
          <div class="small-box bg-warning">
            <div class="inner">
              <h3>Kiracılar</h3>
            </div>
            <div class="icon">
              <i class="fas fa-handshake"></i>
            </div>
            <a href="/app/hirer"
              class="small-box-footer"
              >
              Sayfaya Git
              <i class="fas fa-arrow-circle-right"></i>
            </a>
          </div>
        </div>
            <!-- Ödemeler -->
            <div class="col-lg-3 col-6">
              <div class="small-box bg-danger">
                <div class="inner">
                  <h3>Ödemeler</h3>
                </div>
                <div class="icon">
                  <i class="fas fa-receipt"></i>
                </div>
                <a href="/app/invoiceDetail"
                  class="small-box-footer"
                  >
                  Sayfaya Git
                  <i class="fas fa-arrow-circle-right"></i>
                </a>
              </div>
            </div>

      </div>

    </div>
  </section>
</div>
